<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--  <script type="text/javascript" src="/javascripts/script.js"></script> -->
    <% include ../public/javascripts/script %>
  </head>
  <body>
    <div class="navbar">
      <div class="pull-left">
        <div class="navbar-item navbar-filter-item">
          <i class="material-icons" style="font-size:24px">filter_list</i>
          <span>Filters</span>
        </div>
        <div class="navbar-item">
          <span><%= category %></span>
          <i class="material-icons" style="font-size:24px">expand_more</i>
          <div class="navbar-item-content">
            <span><a href="./search/?listingType=Buy">Buy</a></span>
            <span><a href="./search/?listingType=Rent">Rent</a></span>
          </div>
        </div>

        <div class="navbar-item">
          <span>Bedrooms</span>
          <i class="material-icons" style="font-size:24px">expand_more</i>
          <div class="navbar-item-content">
            <span><a href=<%=modifyurl(page,'bed','1') %> >1 BHK</a></span>
            <span><a href=<%=modifyurl(page,'bed','2') %> >2 BHK</a></span>
            <span><a href=<%=modifyurl(page,'bed','3') %> >3 BHK</a></span>
            <span><a href=<%=modifyurl(page,'bed','4') %> >3+ BHK</a></span>
          </div>
        </div>

        <div class="navbar-item">
          <span>Sort</span>
          <i class="material-icons" style="font-size:24px">expand_more</i>
          <div class="navbar-item-content">
            <span><a href=<%=modifyurl(page,'sort','relevance') %> > Relevance</a></span>
            <span><a href=<%=modifyurl(page,'sort','ASC') %> > Price: Low to High</a></span>
            <span><a href=<%=modifyurl(page,'sort','DESC') %> > Price: High to Low</a></span>
            <span><a href=<%=modifyurl(page,'sort','popularity') %> > Popularity</a></span>
          </div>
        </div>
      </div>
      <div class="pull-right">

      </div>
    </div>
    <div style="padding-bottom:20px"></div>
    <% for(var i in allList) { %>

      <div class="card" onclick='location.href = "https://www.makaan.com/<%= allList[i].listing.resaleURL %>";'>
        <div class = "property-image"><img src=<%=allList[i].listing.mainImageURL%> alt=<%=allList[i].listing.mainImage.altText%> style="width:100%"> </div>
        <div class="property-content">
          <h3 class = property-title> <b><%=allList[i].listing.property.bedrooms + " BHK "  + allList[i].listing.property.unitType%></b>  </h4>
          <p><%=allList[i].listing.property.project.locality.label%>, <%=allList[i].listing.property.project.locality.suburb.city.label%></p>
        </div>
        <div class="listing-highlights">
          <div class="hcol">
            <div class="price">
              <sup class="rupee">₹</sup>
              <span class="val">
                <%= convertPrice(allList[i].listing.currentListingPrice.price).val %>
              </span>
              <span class="unit">
                <%= convertPrice(allList[i].listing.currentListingPrice.price).unit %>
              </span>
            </div>
            <div class="lbl">
              <%= allList[i].listing.currentListingPrice.pricePerUnitArea %> / sq ft
            </div>
          </div>
          <div class="hcol">
            <div class="size">
              <span class="val"><%= allList[i].listing.property.size %></span>
            </div>
            <div class="lbl">Area in sq ft</div>
          </div>
        </div>
        <div class="listing-details">
          <span class="listing-details-data"><strong>Possession by <%= convDate(allList[i].listing.property.project.possessionDate) %></strong></span>
        </div>
      </div>
    <% } %>
    <center>
    <span><a href=<%=modifyurl(page,'page_number', 0) %> >1</a></span>
    <span><a href=<%=modifyurl(page,'page_number', 1) %> >2</a></span>
    <span><a href=<%=modifyurl(page,'page_number', 2) %> >3</a></span>
    <span><a href=<%=modifyurl(page,'page_number', 3) %> >4</a></span>
    <span><a href=<%=modifyurl(page,'page_number', 4) %> >5</a></span>
  </center>
  </body>
</html>

<!-- alllist = json_returned.data.0.facetedResponse.items-->
